.App {
  text-align: center;
  background: rgb(255,100,100);
  background: -webkit-radial-gradient(
    center, ellipse cover, 
    rgba(255,100,100,1) 0%,
    rgba(248,7,146,1) 22%,
    rgba(176,9,122,1) 46%,
    rgba(176,9,122,1) 46%,
    rgba(102,20,94,1) 100%);
  background: radial-gradient(
    center, ellipse cover,
    rgba(255,100,100,1) 0%,
    rgba(248,7,146,1) 22%,
    rgba(176,9,122,1) 46%,
    rgba(176,9,122,1) 46%,
    rgba(102,20,94,1) 100%);
  height: 100vh;
}

.App:after {
  pointer-events: none;
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: -25%;
  width: 100%;
  height: 150%;
  opacity: 0.15;
  filter: blur(5px);
  background-image: url(https://66.media.tumblr.com/b1d1565b1c3ca721bd10640ff82b47c7/tumblr_ody5778XNT1u1vzz5o1_250.gif);
  animation: animatedBackground 60s linear infinite;
  z-index: 1;
}

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

.App-content {
  z-index: 100;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
