.App {
  text-align: center;
  background: rgb(255,100,100);
  background: -webkit-radial-gradient(
    center, ellipse cover, 
    rgba(255,100,100,1) 0%,
    rgba(248,7,146,1) 22%,
    rgba(176,9,122,1) 46%,
    rgba(176,9,122,1) 46%,
    rgba(102,20,94,1) 100%);
  background: radial-gradient(
    center, ellipse cover,
    rgba(255,100,100,1) 0%,
    rgba(248,7,146,1) 22%,
    rgba(176,9,122,1) 46%,
    rgba(176,9,122,1) 46%,
    rgba(102,20,94,1) 100%);
  height: 100vh;
}

.App:after {
  pointer-events: none;
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: -25%;
  width: 100%;
  height: 150%;
  opacity: 0.15;
  filter: blur(5px);
  background-image: url(https://66.media.tumblr.com/b1d1565b1c3ca721bd10640ff82b47c7/tumblr_ody5778XNT1u1vzz5o1_250.gif);
  animation: animatedBackground 60s linear infinite;
  z-index: 1;
}

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

.App-content {
  z-index: 100;
}

.App-logo {
  /*animation: Spin infinite 2s linear alternate;*/
  height: 5rem;
  padding-top: 1.5rem;
  animation: Fade-in .5s ease-out;
}

.App-header {
  padding: .5rem 0 2rem 0;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes Fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes Spin {
  from { transform: rotate(-7deg); }
  to { transform: rotate(7deg); }
}

.App-alert {
  position: fixed;
  top: 0;
  border-bottom: 4px solid green;
  background-color: #1CA61C; /* green! */
  padding: 3rem 1rem;
  width: 100%;
  opacity: .9;
  text-align: center;
  font-weight: bold;
  color: white;
  animation: Fade-in .5s ease-out;
}

.url-wrapper {
  background-color: white;
  padding: 1rem;
  opacity: .85;
  text-align: center;
  font-weight: bold;
  color: #19E7CD;
  text-align: center;
  animation: Fade-in 1s ease-out;
}

.url-wrapper h3 {
  color: #333;
  text-transform: uppercase;
}

.url-wrapper a,
.url-wrapper button {
  box-sizing: border-box;
  color: #19E7CD;
  margin: .4rem;
  text-transform: uppercase;
  background-color: #00FFCC;
  color: white;
  padding: .5rem 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  border: 2px solid #EB0F92;
  border-radius: 2px;
  text-decoration: none;
}

.url-wrapper a:hover,
.url-wrapper button:hover {
  cursor: pointer;
}

/* media query for Smaller Devices */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) 
  and (max-device-width : 480px)
{
  .url-wrapper {
    width:  100%;
    padding: 1rem 0;
  }

  .url-wrapper a,
  .url-wrapper button {
    display: block;
    width: 100%;
    margin: .25rem 0;
    font-size: 1rem;    
  }
}
